# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static collected files
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Mac
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build files
# =========================
dist/
build/
*.egg-info/

# =========================
# Node Modules (if frontend exists)
# =========================
node_modules/

# =========================
# Cache
# =========================
.cache/